@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-custom {
    scrollbar-width: thin; /* For Firefox */
    scrollbar-color: #888 #f1f1f1; /* For Firefox */
}

.scrollbar-custom::-webkit-scrollbar {
    width: 1px; /* Width of the scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
    background-color: #888; /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the thumb */
}

.scrollbar-custom::-webkit-scrollbar-track {
    background-color: #f1f1f1; /* Color of the scrollbar track */
}

.no-scroll {
    overflow: hidden;
}
